@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Roman';
    src: url('/fontes/Roman.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Medium';
    src: url(/fontes/NetflixSans-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Regular';
    src: url(/fontes/NetflixSans-Regular.otf) format('opentype');
}

:root{
    --vermelha: #e50914; 
    --preta: #141414;
    
    --fonte-logo: 'Bebas Neue', cursive;
    --fonte-titulo: 'Roman', cursive;
    --fonte-medium: 'Medium', cursive;
    --fonte-regular: 'Regular', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--vermelha);
    font-family: var(--fonte-logo);
    font-size: 38px;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

header nav a {
    font-family: var(--fonte-regular);
    font-size: 14px;
    text-decoration: none;
    color: #d6d4d4;
    margin-right: 20px; 
}

header nav a:hover {
    color: rgb(138, 138, 138);
}

.filme-principal {
    background: linear-gradient(rgba(0, 0, 0, 0.288),rgba(0, 0, 0, 0.068) 100%) , url('/img/capa1.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
}

.titulo {
    font-size: 100px;
    font-family: var(--fonte-titulo);
    margin-left: 20px;
}

.filme-principal .assista {
    font-size: 30px;
    font-family: var(--fonte-medium);
    margin-top: 15px;
    margin-left: 20px;
}

.filme-principal .descricao {
    font-size: 26px;
    font-family: var(--fonte-regular);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.botao-assistir {
    font-family: var(--fonte-medium);
    font-size: 23px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao-informacao {
    font-family: var(--fonte-medium);
    font-size: 23px;
    background-color: #696866c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao-assistir i {
    margin-right: 10px;
}

.botao-informacao i {
    margin-right: 10px;
}

.botao-informacao:hover {
    background-color: #5f5e5c5d;
}

.botao-assistir:hover {
    background-color: #f0ede794;
}

.box-filme {
    height: 270px;
    display: block;
    margin: 20px;
}